/* XXL */
@media (min-width: 1400px) {
  .ministries img {
    width: 700px;
  }
  .sermonImg {
    width: 450px;
  }
  input.pay {
    width: 500px;
  }
  .navBody.custom-nav {
    transition: background-color 0.3s ease-in-out;
    background-color: transparent !important;
    position: fixed;
    z-index: 1020;
  }
  .custom-nav.scrolled {
    background-color: rgb(74, 4, 4) !important;
  }
  .navbar-collapse {
    flex-grow: unset !important;
  }
  .nav-link.offeringsBar {
    margin: 10px 10px 10px;
  }
  .nav-link {
    margin: 10px 0 10px;
  }
  .firstCaro {
    height: 100vh;
  }
  .firstCaro .carousel-item h3 {
    font-size: 30px;
  }
  .firstCaro .carousel-item {
    height: 100vh;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .caroPhase {
    font-size: 20px;
  }
  .caroBtn a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .thePastor img {
    width: 500px;
  }
  p {
    font-size: 18px;
  }
  .programmeHome {
    font-size: 18px;
  }
  section .btn-secondary {
    margin-top: 20px !important;
    font-size: 20px;
  }
  .caroBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .caroBtn a {
    width: 250px;
  }
  .sectionServices {
    width: 70%;
  }
  .homeCaro .row .col-sm-12 {
    display: flex;
    justify-content: center;
  }
  .sectionServices.testimoneySec {
    width: auto;
    padding: 0;
  }
  .testimony-carousel-wrapper {
    max-width: 600px;
    width: auto;
    margin: 0 auto;
  }
  .quickLinks {
    text-align: start;
    width: 250px;
    margin: 0 auto;
  }
  .con img {
    height: 500px;
  }
  .sermonCol.col-md-6 {
    padding: 0 20px;
  }
  .contactSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .formed {
    width: 90%;
    max-width: 600px;
  }
  .formed form {
    width: 100%;
  }
  .formed label {
    text-align: left;
    display: block;
  }
  .youtube i,
  .facebook i {
    font-size: 3.5vw;
    text-align: left;
  }
  .youtube span,
  .facebook span {
    padding-top: 2vw;
  }
  .youtube a,
  .facebook a {
    width: 90%;
    margin-bottom: 5px;
  }
  .youtube,
  .facebook {
    display: flex;
    justify-content: center;
  }
  .liveRow {
    width: 90%;
  }
}

/* XL */
@media (max-width: 1399px) and (min-width: 1200px) {
  .thePastor img {
    width: 500px;
  }
  .ministries img {
    width: 700px;
  }
  .sermonImg {
    width: 400px;
  }
  input.pay {
    width: 500px;
  }
  .navBody.custom-nav {
    transition: background-color 0.3s ease-in-out;
    background-color: transparent !important;
    position: fixed;
    z-index: 1020;
  }
  .custom-nav.scrolled {
    background-color: rgb(74, 4, 4) !important;
  }
  .navbar-collapse {
    flex-grow: unset !important;
  }
  .nav-link.offeringsBar {
    margin: 10px 10px 10px;
  }
  .nav-link {
    margin: 10px 0 10px;
  }
  .firstCaro {
    height: 100vh;
  }
  .firstCaro .carousel-item h3 {
    font-size: 30px;
  }
  .firstCaro .carousel-item {
    height: 100vh;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .caroPhase {
    font-size: 20px;
  }
  .caroBtn a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
  .programmeHome {
    font-size: 18px;
  }
  section .btn-secondary {
    margin-top: 20px !important;
    font-size: 20px;
  }
  .caroBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .caroBtn a {
    width: 250px;
  }
  .sectionServices {
    width: 70%;
  }
  .homeCaro .row .col-sm-12 {
    display: flex;
    justify-content: center;
  }
  .sectionServices.testimoneySec {
    width: auto;
    padding: 0;
  }
  .testimony-carousel-wrapper {
    max-width: 600px;
    width: auto;
    margin: 0 auto;
  }
  .quickLinks {
    text-align: start;
    width: 250px;
    margin: 0 auto;
  }
  .con img {
    height: 400px;
  }
  .sermonCol.col-md-6 {
    padding: 0 20px;
  }
  .contactSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .formed {
    width: 90%;
    max-width: 600px;
  }
  .formed form {
    width: 100%;
  }
  .formed label {
    text-align: left;
    display: block;
  }
  .youtube i,
  .facebook i {
    font-size: 45px;
    text-align: left;
  }
  .youtube span,
  .facebook span {
    padding-top: 25px;
  }
  .youtube a,
  .facebook a {
    width: 90%;
    margin-bottom: 5px;
  }
  .youtube,
  .facebook {
    display: flex;
    justify-content: center;
  }
  .liveRow {
    width: 90%;
  }
}

/* LG */
@media (max-width: 1199px) and (min-width: 992px) {
  .thePastor img {
    width: 400px;
  }
  input.pay {
    width: 500px;
  }
  .navBody.custom-nav {
    transition: background-color 0.3s ease-in-out;
    background-color: transparent !important;
    position: fixed;
    z-index: 1020;
  }
  .sermonImg {
    width: 400px;
  }
  .custom-nav.scrolled {
    background-color: rgb(74, 4, 4) !important;
  }
  .navbar-collapse {
    flex-grow: unset !important;
  }
  .nav-link.offeringsBar {
    margin: 10px 10px 10px;
  }
  .nav-link {
    margin: 10px 0 10px;
  }
  .firstCaro {
    height: 100vh;
  }
  .firstCaro .carousel-item h3 {
    font-size: 30px;
  }
  .firstCaro .carousel-item {
    height: 100vh;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .caroPhase {
    font-size: 20px;
  }
  .caroBtn a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
  .programmeHome {
    font-size: 18px;
  }
  section .btn-secondary {
    margin-top: 20px !important;
    font-size: 20px;
  }
  .caroBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .caroBtn a {
    width: 250px;
  }
  .sectionServices {
    width: 70%;
  }
  .homeCaro .row .col-sm-12 {
    display: flex;
    justify-content: center;
  }
  .sectionServices.testimoneySec {
    width: auto;
    padding: 0;
  }
  .testimony-carousel-wrapper {
    max-width: 600px;
    width: auto;
    margin: 0 auto;
  }
  .quickLinks {
    text-align: start;
    width: 250px;
    margin: 0 auto;
  }
  div.socialCol {
    margin-top: -100px;
  }
  .con img {
    height: 350px;
  }
  .sermonCol.col-md-6 {
    padding: 0 20px;
  }
  .contactSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .formed {
    width: 90%;
    max-width: 600px;
  }
  .formed form {
    width: 100%;
  }
  .formed label {
    text-align: left;
    display: block;
  }
  .youtube i,
  .facebook i {
    font-size: 45px;
    text-align: left;
  }
  .youtube span,
  .facebook span {
    padding-top: 25px;
  }
  .youtube a,
  .facebook a {
    width: 90%;
    margin-bottom: 5px;
  }
  .youtube,
  .facebook {
    display: flex;
    justify-content: center;
  }
  .liveRow {
    width: 90%;
  }
}

/* MD */
@media (max-width: 991px) and (min-width: 768px) {
  .thePastor img {
    width: 350px;
  }
  .ministries img {
    width: 500px;
  }
  .sermonsArt img {
    width: 350px;
  }
  input.pay {
    width: 500px;
  }
  .navBody.custom-nav {
    transition: background-color 0.3s ease-in-out;
    background-color: transparent !important;
    position: fixed;
    z-index: 1020;
  }
  .navbar-collapse {
    background-color: rgb(74, 4, 4);
  }
  .custom-nav.scrolled {
    background-color: rgb(74, 4, 4) !important;
  }
  .firstCaro {
    height: 100vh;
  }
  .firstCaro .carousel-item h3 {
    font-size: 30px;
  }
  .firstCaro .carousel-item {
    height: 100vh;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .caroPhase {
    font-size: 20px;
  }
  .caroBtn a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
  .programmeHome {
    font-size: 18px;
  }
  section .btn-secondary {
    margin-top: 20px !important;
    font-size: 20px;
  }
  .caroBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .caroBtn a {
    width: 250px;
  }
  .sectionServices {
    width: 70%;
  }
  .homeCaro .row .col-sm-12 {
    display: flex;
    justify-content: center;
  }
  .sectionServices.testimoneySec {
    width: auto;
    padding: 0;
  }
  .testimony-carousel-wrapper {
    max-width: 600px;
    width: auto;
    margin: 0 auto;
  }
  .quickLinks {
    text-align: start;
    width: 250px;
    margin: 0 auto;
  }
  div.socialCol {
    margin-top: -100px;
  }
  .con img {
    height: 250px;
  }
  .sermonCol.col-md-6 {
    padding: 0 20px;
  }
  .contactSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .formed {
    width: 90%;
    max-width: 600px;
  }
  .formed form {
    width: 100%;
  }
  .formed label {
    text-align: left;
    display: block;
  }
  .youtube i,
  .facebook i {
    font-size: 45px;
    text-align: left;
  }
  .youtube span,
  .facebook span {
    padding-top: 20px;
  }
  .youtube a,
  .facebook a {
    width: 90%;
    margin-bottom: 5px;
  }
  .youtube,
  .facebook {
    display: flex;
    justify-content: center;
  }
  .liveRow {
    width: 90%;
  }
}

/* SM */
@media (max-width: 767px) and (min-width: 576px) {
  .thePastor img {
    width: 350px;
  }
  .sermonsArt img {
    width: 350px;
  }
  .carousel-item h3 {
    font-size: 30px;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
  }
  .caroPhase {
    font-size: 20px;
  }
  .caroBtn a {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
  .programmeHome {
    font-size: 18px;
  }
  section .btn-secondary {
    margin-top: 20px !important;
    font-size: 20px;
  }
  .con img {
    height: 250px;
  }
  .youtube i,
  .facebook i {
    font-family: 40px;
    text-align: left;
  }
  .youtube span,
  .facebook span {
    padding-top: 20px;
  }
  .youtube a,
  .facebook a {
    width: 80%;
    margin-bottom: 5px;
  }
  .youtube,
  .facebook {
    display: flex;
    justify-content: center;
  }
}

/* XS */
@media (max-width: 575px) {
  .thePastor img {
    width: 300px;
  }
  .contactSec .sectionServices {
    margin: 0;
  }
}
